.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #fff;
    width: 25%;
    padding: 50px;
    border-radius: 25px 25px 25px 25px;
}

input{
    margin: 5px;
    padding: 5px;
    border-radius: 250px;
}